@use 'styles/colors';
@use 'styles/functions';
@import 'styles/typography';

.balanceChange {
  @extend %caption-2;
}

.assetCell {
  color: colors.$white;
}

.narrowColumns {
  max-width: functions.rem(150) !important;
}

.balanceInfo {
  color: colors.$white;
  text-align: right;
}

.balance {
  @extend %title-3;
}

.rate {
  @extend %title-7;
}

.positive {
  color: colors.$success-40;
}

.negative {
  color: colors.$error-40;
}

.noDepositImg {
  max-width: 20%;
}

.actions {
  align-items: center;
  display: flex;
  gap: functions.rem(10);
}
