@use 'styles/colors';
@use 'styles/functions';
@import 'styles/typography';

.transactionBlock {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: functions.rem(64);
  justify-content: space-between;
}

.descriptionHash {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  margin-left: functions.rem(24);
}

.transactionText {
  @extend %caption-1;
  margin-bottom: functions.rem(8);
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: functions.rem(224);
}

.ammountDate {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: functions.rem(24);
}

.summ {
  @extend %caption-1;
  color: colors.$success-40;
  margin-bottom: functions.rem(3);
  margin-top: 0;

  &.minus {
    color: colors.$error-40;
  }
}

.dateTime {
  @extend %caption-2;
  color: colors.$grey-65;
  margin: 0;
}
